<h2 class="section-title">{{ .titles.speakers }}</h2>

<ul class="speakers-list">
{{ range $speaker := (where .speakers "name" "ne" nil) }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
      <span class="speaker-photo">
        <img class="photo" src="{{ . }}" alt="{{ $speaker.name }}" itemprop="image">
      </span>
    {{ end }}

    

    <h3 class="speakers-name">{{ .name }}
      {{ with .link }}
      <div class="speaker-link">
          <a href="{{ .href }}"><i class="fab fa-github"></i></a>
      </div>
      
      {{ end }}
    </h3>
    <p class="speakers-bio">{{ .bio }}</p>
    <h4 class="speech-title">
      <span>Talk:</span>
      <a href="{{ .talk.href }}" title="{{ .text }}"> {{ .talk.title }} </a>
    </h4>
  </li>
{{ end }}
</ul>
