<h2 class="section-title">{{ .titles.sponsors }}</h2>

<div id="platinum">
{{ range $sponsor := (where .sponsors "type" "eq" "platinum") . }}
    <div class="sponsor-category">Platinum</div>
    <div class="sponsor-card">
      <a href="{{ .url }}" itemprop="url" target="_blank">
        <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
      </a>
  </div>
{{ end }}
</div>

<div id="gold">
  {{ range $sponsor := (where .sponsors "type" "eq" "gold") . }}
    <div class="sponsor-category">Gold</div>
      <div class="sponsor-card">

          <a href="{{ .url }}" itemprop="url" target="_blank">
            <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
          </a>  
    </div>
  {{ end }}
</div>

<div id="gold">
{{ range $sponsor := (where .sponsors "type" "eq" "community") . }}
<div class="sponsor-category">Community</div>
    <div class="sponsor-card">
      <a href="{{ .url }}" itemprop="url" target="_blank">
        <img src="{{ .logo }}" alt="{{ .name }}" class="photo" itemprop="image">
      </a>
    </div>
  </div>
{{ end }}
</div>
